Source: dive
Section: utils
Priority: extra
Maintainer: Vitaly "_Vi" Shukela <vi0oss@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libcap-dev
Standards-Version: 3.9.3
Homepage: http://vi.github.com/dive/
#Vcs-Git: git://git.debian.org/collab-maint/dive.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dive.git;a=summary

Package: dive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, libcap2
Suggests: reptyr(>=0.4)
Description: Start programs in unshare/lxc namespaces easily and more.
 Starting programs in various ways like socat using sockets in various ways.
 Allows simple "remote" startup of programs inside LXC containers,
 simple starting LXC-like containers on low level, managing capabilities
 and securebits and more.
